
<h1>{{title}}</h1>
<p>This is a crowd sourced project to collect positive quotes, phrases and thoughts. <br> Enter something you would want to read when you're feeling down or uninspired.</p>

<!-- The above form looks like this -->
<form action='/positives' method='post'>
  <label for="phrase">Happy:</label>
  <textarea class="u-full-width" placeholder=":-)" id="phrase" name='phrase'></textarea>

  <div class="row">
    <div class="six columns">
      <label for="exampleEmailInput">Source/author: </label>
      <input class="u-full-width" type="text" placeholder="Who said this..." id="source" name="source">
    </div>
  </div>

  <input class="button-primary" type="submit" value="Submit">
</form>

<!-- Always wrap checkbox and radio inputs in a label and use a <span class="label-body"> inside of it -->

<!-- Note: The class .u-full-width is just a utility class shorthand for width: 100% -->
