<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Happy Collection</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <script src="https://use.fontawesome.com/7d1aa357f7.js"></script>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/skeleton.css">

</head>
<body style="background: url(/images/bokeh3.jpg) no-repeat center center fixed">

  <div class="container">
    {{{body}}}
    <footer>
      <p>The Happy Collection - -
        By Catie Cook
    
        <a href='github.com/catiecook'><i class="fa fa-github" aria-hidden="true"></i></a>
      </p>
    </footer>
  </div>

</body>
</html>
