<h1>{{title}}</h1>
<p>Your happy as been collected. Want to add another?</p>
<a href="/"> <button class="button-primary" value="Yes"> Yes </button> </a>
<a href="/thanks"> <button class="button-primary" value="No"> No </button> </a>
