<h1>{{title}}</h1>
<p>Thank you for contributing!</p>
<p>Download the plugin associated with this project <u>here</u></p>
<p><strong>We appreciate you!</strong></p>
<a href="/"> <button class="button"> Home </button> </a>
