<h1>{{title}}</h1>

<p>Thank you for contributing!</p>

<p>Soon, there will be a link here to download the plugin that goes along with this form! However, that's currently under developement.</p>

<p><strong>I appreciate you!</strong></p>

<a href="/"> <button class="button"> Home </button> </a>
