body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: #00B7FF;
}

.space {
    margin-right: 5%;
}

footer {
  position: fixed;
  bottom: 0;
  height: 10%;
}

.fa-github {
  font-size: 3rem;
  padding-left: 1rem;
}
